@import "misc/index";
@import "layout/index";
@import "pages/index";

body {
  color: $grey;
  font-family: $font-primary;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .2s;
}

// When you're on the link
[aria-current] {
  color: $color-secondary;
}

// When menu is open
[menu] body {
  overflow: hidden;
}
