.title {
  overflow: hidden;
  position: relative;
  h1 {
    font-size: 13.75em;
    font-style: italic;
    font-weight: 900;
    position: absolute;
    opacity: .25;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    white-space: nowrap;
  }
  .logo {
    margin-left: 20%;
    margin-top: 7em;
    width: 15%;
    min-width: 150px;
    max-width: 280px;
    min-height: 90px;
  }
}
