<div class="computer">
  <svg width="655px" height="478px" viewbox="0 0 655 478" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <filter x="-26.9%" y="-371.2%" width="153.7%" height="842.5%" filterunits="objectBoundingBox" id="filter-1">
        <fegaussianblur stddeviation="3.061617e-15 50" in="SourceGraphic"></fegaussianblur>
      </filter>
      <rect id="path-2" x="0" y="0" width="457.317647" height="319.191919" rx="34"></rect>
      <filter x="-27.6%" y="-33.2%" width="155.1%" height="178.9%" filterunits="objectBoundingBox" id="filter-3">
        <feoffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter1"></feoffset>
        <fegaussianblur stddeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></fegaussianblur>
        <fecolormatrix values="0 0 0 0 0.203921569   0 0 0 0 0.247058824   0 0 0 0 0.294117647  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></fecolormatrix>
        <feoffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter2"></feoffset>
        <fegaussianblur stddeviation="30" in="shadowOffsetOuter2" result="shadowBlurOuter2"></fegaussianblur>
        <fecolormatrix values="0 0 0 0 0.203921569   0 0 0 0 0.247058824   0 0 0 0 0.294117647  0 0 0 0.08 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></fecolormatrix>
        <femorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter3"></femorphology>
        <feoffset dx="0" dy="0" in="shadowSpreadOuter3" result="shadowOffsetOuter3"></feoffset>
        <fecolormatrix values="0 0 0 0 0.203921569   0 0 0 0 0.247058824   0 0 0 0 0.294117647  0 0 0 0.02 0" type="matrix" in="shadowOffsetOuter3" result="shadowMatrixOuter3"></fecolormatrix>
        <femerge>
          <femergenode in="shadowMatrixOuter1"></femergenode>
          <femergenode in="shadowMatrixOuter2"></femergenode>
          <femergenode in="shadowMatrixOuter3"></femergenode>
        </femerge>
      </filter>
      <rect id="path-4" x="0.211764706" y="0.242424242" width="420.894118" height="262.626263"></rect>
      <rect id="path-6" x="91.0588235" y="0" width="376.376471" height="6.06060606" rx="3.03030303"></rect>
      <filter x="-33.2%" y="-1732.5%" width="166.4%" height="4225.0%" filterunits="objectBoundingBox" id="filter-7">
        <feoffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter1"></feoffset>
        <fegaussianblur stddeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></fegaussianblur>
        <fecomposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></fecomposite>
        <fecolormatrix values="0 0 0 0 0.203921569   0 0 0 0 0.247058824   0 0 0 0 0.294117647  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></fecolormatrix>
        <feoffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter2"></feoffset>
        <fegaussianblur stddeviation="30" in="shadowOffsetOuter2" result="shadowBlurOuter2"></fegaussianblur>
        <fecomposite in="shadowBlurOuter2" in2="SourceAlpha" operator="out" result="shadowBlurOuter2"></fecomposite>
        <fecolormatrix values="0 0 0 0 0.203921569   0 0 0 0 0.247058824   0 0 0 0 0.294117647  0 0 0 0.08 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></fecolormatrix>
        <femerge>
          <femergenode in="shadowMatrixOuter1"></femergenode>
          <femergenode in="shadowMatrixOuter2"></femergenode>
        </femerge>
      </filter>
      <lineargradient x1="50%" y1="-2.48949813e-15%" x2="50%" y2="100%" id="linearGradient-8">
        <stop stop-color="#F7F7F9" offset="0%"></stop>
        <stop stop-color="#ECEDF0" offset="100%"></stop>
      </lineargradient>
      <path
        d="M0.00115207509,0 L558.49527,0 L558.49527,2.98393517 C558.49527,2.98393517 533.390464,8.26935517 517.012917,9.44912803 C500.63537,10.6289009 441.130564,11.4384181 441.130564,11.4384181 L117.365858,11.4384181 C117.365858,11.4384181 83.7883107,12.4965967 41.483505,9.44912803 C-0.821300659,6.4016594 0.00115207509,2.98393517 0.00115207509,2.98393517 L0.00115207509,0 Z"
        id="path-9"></path>
      <filter x="-22.9%" y="-929.7%" width="145.8%" height="2303.8%" filterunits="objectBoundingBox" id="filter-10">
        <feoffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter1"></feoffset>
        <fegaussianblur stddeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></fegaussianblur>
        <fecolormatrix values="0 0 0 0 0.203921569   0 0 0 0 0.247058824   0 0 0 0 0.294117647  0 0 0 0.06 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></fecolormatrix>
        <feoffset dx="0" dy="10" in="SourceAlpha" result="shadowOffsetOuter2"></feoffset>
        <fegaussianblur stddeviation="30" in="shadowOffsetOuter2" result="shadowBlurOuter2"></fegaussianblur>
        <fecolormatrix values="0 0 0 0 0.203921569   0 0 0 0 0.247058824   0 0 0 0 0.294117647  0 0 0 0.08 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></fecolormatrix>
        <femorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter3"></femorphology>
        <feoffset dx="0" dy="0" in="shadowSpreadOuter3" result="shadowOffsetOuter3"></feoffset>
        <fegaussianblur stddeviation="1" in="shadowOffsetOuter3" result="shadowBlurOuter3"></fegaussianblur>
        <fecolormatrix values="0 0 0 0 0.203921569   0 0 0 0 0.247058824   0 0 0 0 0.294117647  0 0 0 0.02 0" type="matrix" in="shadowBlurOuter3" result="shadowMatrixOuter3"></fecolormatrix>
        <femerge>
          <femergenode in="shadowMatrixOuter1"></femergenode>
          <femergenode in="shadowMatrixOuter2"></femergenode>
          <femergenode in="shadowMatrixOuter3"></femergenode>
        </femerge>
      </filter>
      <lineargradient x1="100%" y1="50%" x2="0%" y2="50%" id="linearGradient-11">
        <stop stop-color="#EFF0F2" offset="0%"></stop>
        <stop stop-color="#FFFFFF" offset="32.1657577%"></stop>
        <stop stop-color="#FFFFFF" offset="66.3472877%"></stop>
        <stop stop-color="#ECEDF0" offset="100%"></stop>
      </lineargradient>
      <path
        d="M225.623529,0 L332.870588,0 L332.870588,3.28282828 C332.870588,3.28282828 331.901249,4.1370637 317.694118,4.29292929 C303.486987,4.44879489 255.007001,4.46018919 240.8,4.29292929 C226.592999,4.1256694 225.623529,3.03030303 225.623529,3.03030303 L225.623529,0 Z"
        id="path-12"></path>
    </defs>
    <g id="Desktop-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-154.000000, -338.000000)">
      <g id="mockuo" transform="translate(203.000000, 387.000000)">
        <g id="MacBook-&amp;-iPhone">
          <g id="MacBook">
            <polygon id="shadow" fill-opacity="0.06" fill="#343F4B" filter="url(#filter-1)" points="0 309.59596 558.494118 309.59596 421.905882 350 136.588235 350"></polygon>
            <g id="display" transform="translate(50.588235, 0.000000)">
              <g id="display-panel">
                <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-2"></use>
                <use fill="#FDFEFF" fill-rule="evenodd" xlink:href="#path-2"></use>
              </g>
              <g id="HOME-Copy-meums" transform="translate(18.000000, 24.000000)">
                <% if mask %>
                  <mask id="mask-5" fill="white">
                    <use xlink:href="#path-4"></use>
                  </mask>
                  <use id="Mask" fill="#ECEDF0" xlink:href="#path-4"></use>
                <% end %>
                <image xlink:href="<%= project_image_url(project, image) %>" <%= "mask=url(#mask-5)" if mask %> x="0.411764706" y="0" width="421" height="814.80622"></image>
              </g>
            </g>
            <g id="panel" transform="translate(0.000000, 309.595960)">
              <g id="shadow">
                <use fill="black" fill-opacity="1" filter="url(#filter-7)" xlink:href="#path-6"></use>
                <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-6"></use>
              </g>
              <g>
                <use fill="black" fill-opacity="1" filter="url(#filter-10)" xlink:href="#path-9"></use>
                <use fill="url(#linearGradient-8)" fill-rule="evenodd" xlink:href="#path-9"></use>
              </g>
              <g id="border">
                <g id="center">
                  <use fill="url(#linearGradient-11)" xlink:href="#path-12"></use>
                  <use fill-opacity="0.5" fill="#F3F4F6" xlink:href="#path-12"></use>
                </g>
                <rect id="left" fill="#FDFDFD" x="0" y="0" width="225.623529" height="3.03030303"></rect>
                <rect id="right" fill="#FDFDFD" x="332.870588" y="0" width="225.623529" height="3.03030303"></rect>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
