<div class="description">
  <h2><%= t('project.description.few-words') %></h2>
  <a href="<%= project.url %>"><%= t('project.description.website') %></a>
  <p><%= project[locale.to_s].description %></p>
</div>
