<div class="iphone iphone-<%= id %>">
  <svg id="0b3afa4a-e38f-4434-8c03-55a498e2b885" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 109 200">
    <defs>
      <linearGradient id="615bf965-d717-4043-a6c9-39f968ee559e" data-name="Dégradé sans nom" x1="-197.96154" y1="380.23077" x2="-197.96154" y2="381.23077" gradientTransform="matrix(13, 0, 0, -13, 2628, 5126)" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#f7f7f9"/>
        <stop offset="1" stop-color="#ecedf0"/>
      </linearGradient>
      <linearGradient id="3ec6c23e-fc75-4dc2-8a9c-c3c4a4380c24" data-name="Dégradé sans nom 2" x1="-199.14286" y1="311" x2="-199.14286" y2="312" gradientTransform="matrix(14, 0, 0, -1, 2894, 353.01001)" xlink:href="#615bf965-d717-4043-a6c9-39f968ee559e"/>
      <linearGradient id="30b1b62c-b540-4b40-91f9-1c0ae5416ac1" data-name="Dégradé sans nom 3" x1="-142.83333" y1="361" x2="-142.83333" y2="362" gradientTransform="matrix(3, 0, 0, -3, 521, 1127.01001)" xlink:href="#615bf965-d717-4043-a6c9-39f968ee559e"/>
      <mask id="7d282d52-0cc2-4433-a4d4-2583d34a8cac" x="14" y="22" width="81" height="145" maskUnits="userSpaceOnUse">
        <g transform="translate(-52 -31.01001)">
          <g id="3e085bc3-0934-44f1-b689-d77ef836f678" data-name="mask-6">
            <polygon id="2c27ad71-ade3-4c7e-a6b8-72c28b073445" data-name="path-5" points="66 196.01 147 196.01 147 53.01 66 53.01 66 196.01" fill="#fff"/>
          </g>
        </g>
      </mask>
    </defs>
    <g id="309185fa-16c4-4fb8-a1e8-6c67f799a915" data-name="Page-1">
      <g id="1caa5ead-8543-4e09-9a36-c02ec1b4d4f2" data-name="iPhone-Copy-2">
        <g id="3533872d-bd76-4dcd-b10a-620699d4ecb7" data-name="body">
          <path id="dd5ac839-2f2a-41a7-b4f8-344fb71565ad" data-name="path-2" d="M151.16386,44.70635A13.683,13.683,0,0,0,137.49432,31.01H73.50653A13.683,13.683,0,0,0,59.837,44.70635V54.51a.84219.84219,0,0,0-.837.8651v6.34348c0,.47774.837.8651.837.8651v8.3619a.84209.84209,0,0,0-.837.865V83.92111c0,.47774.837.865.837.865v3.46018a.84209.84209,0,0,0-.837.865v12.11041c0,.47774.837.8651.837.8651V205.31367A13.68292,13.68292,0,0,0,73.50653,219.01h63.98779a13.68292,13.68292,0,0,0,13.66954-13.69633V84.7861a.8414.8414,0,0,0,.83614-.865V71.81058a.8414.8414,0,0,0-.83614-.865Z" transform="translate(-52 -31.01001)" fill="#fdfeff"/>
        </g>
        <g id="e2fe1138-71bb-43ea-969a-0aca9ad9e4bf" data-name="home">
          <circle id="72bea996-1be8-4613-a3fc-6b8f3cee3ddb" data-name="Oval" cx="54.5" cy="176.5" r="6.5" fill="url(#615bf965-d717-4043-a6c9-39f968ee559e)"/>
          <circle id="692dac01-7042-4e77-90a2-19aa87902684" data-name="Oval" cx="54.5" cy="176.5" r="5.63333" fill="#fff"/>
        </g>
        <path id="0003f2e8-7aee-4281-b449-b279e333112a" data-name="speaker" d="M99.85965,41.01h12.2807c.47477,0,.85965.22386.85965.5s-.38488.5-.85965.5H99.85965c-.47477,0-.85965-.22386-.85965-.5s.38488-.5.85965-.5Z" transform="translate(-52 -31.01001)" fill="url(#3ec6c23e-fc75-4dc2-8a9c-c3c4a4380c24)"/>
        <path id="40e64309-2b15-44e7-87f5-3fe2b9c72260" data-name="camera" d="M92.5,41.01a1.5,1.5,0,1,1-1.5,1.5,1.5,1.5,0,0,1,1.5-1.5Z" transform="translate(-52 -31.01001)" fill="url(#30b1b62c-b540-4b40-91f9-1c0ae5416ac1)"/>
        <g id="9f2ec8f0-5827-439d-83ef-f102dda5c646" data-name="iPhone-Copy-21">
          <g id="fb6a16b4-b9d1-4b63-8936-90f105fc04ae" data-name="Mask">
            <polygon id="8b33ac99-9d69-4ed2-9ca7-64e219d1fe53" data-name="path-5" points="14 165 95 165 95 22 14 22 14 165" fill="#ecedf0"/>
          </g>
          <g mask="url(#7d282d52-0cc2-4433-a4d4-2583d34a8cac)">
            <image width="751" height="1337" transform="translate(14 22) scale(0.10786 0.10845)" viewBox="0 0 100 100" preserveAspectRatio="xMidYMin slice" xlink:href="<%= project_image_url(project, image) %>" style="isolation: isolate"/>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
