<div class="title">
  <h1 style="color: <%= project.color %>"><%= project.name %></h1>
  <%= project_image(project, (project.logo == nil ? 'logo.svg' : project.logo), {
    'class' => 'logo'
    }) %>
</div>
