header {
  width: 80%;
  margin: 3.5em auto;
  text-align: right;
  a {
    margin: 0 2em;
    text-transform: lowercase;
    font-size: .813em;
    &:focus,
    &:hover,
    &.top {
      color: $color-secondary;
    }
    &.top:after {
      content: '';
      position: absolute;
      margin-left: .6em;
      margin-top: 1px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8px' height='14px' viewBox='0 0 8 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Desktop-Copy-6' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-901.000000, -63.000000)'%3e%3cpath d='M908.917098,67.1125 C908.751295,67.2875 908.585492,67.2875 908.419689,67.1125 L905.352332,64.18125 L905.352332,76.65 C905.352332,76.8833345 905.241798,77 905.020726,77 C904.799653,77 904.68912,76.8833345 904.68912,76.65 L904.68912,64.18125 L901.621762,67.1125 C901.455958,67.2875 901.290157,67.2875 901.124353,67.1125 C900.958549,66.9375 900.958549,66.7625 901.124353,66.5875 C903.52851,64.2833212 904.744386,63.1166676 904.772021,63.0875 C904.827288,63.0291676 904.910189,63 905.020726,63 C905.131262,63 905.214164,63.0291676 905.26943,63.0875 L908.917098,66.5875 C908.972365,66.6458324 909,66.7333324 909,66.85 C909,66.9666676 908.972365,67.0541676 908.917098,67.1125 Z' id='Page-1' fill='%23EA4C64'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
      background-size: contain;
      background-repeat: no-repeat;
      width: 1em;
      height: 1em;
      display: inline-block;
    }
  }
  @media #{$mediumPhone} {
    a {
      margin: 0 1em;
    }
  }
}
