#borders {
  .border {
    position: fixed;
    z-index: 999;
    transition: background-color .4s;
    background-color: $color-primary;
  }
  .left,
  .right {
    top: 0;
    bottom: 0;
    width: 17.5px;
  }
  .top,
  .bottom {
    left: 0;
    height: 17.5px;
    width: 100%;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
}
