[data-turbolinks-preview] body {
  overflow: hidden;
}
#loader {
  display: none;
  z-index: 998;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-background;
  transition: all .5s;
  .progress-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    #progress {
      x: 0;
      width: 0;
      transition: width .2s;
    }
  }
  &.visible {
    display: block;
    opacity: 1;
  }
}
.turbolinks-progress-bar {
  z-index: 900;
  background-color: $color-secondary;
}
