[data-turbolinks-preview] body {
  overflow: hidden;
}
#loader {
  z-index: 1000;
  display: none;
  .progress-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    #progress {
      x: 0;
      width: 0;
    }
  }
}
.turbolinks-progress-bar {
  display: none;
}
