$color-primary: #C1EDF5;
$color-secondary: #EA4C64;
$color-background: #FFF;
$grey: #6B6B6B;

$font-primary: 'Menlo', 'Helvetica Neue', 'Helvetica', sans-serif;

$littlePhone: "screen and (max-width : 480px)";
$mediumPhone: "screen and (max-width : 568px)";
$classicPhone: "screen and (max-width : 667px)";
$bigPhone: "screen and (max-width : 736px)";
$classicTablet: "screen and (max-width : 875px)";
$bigTablet: "screen and (max-width : 1024px)";
$classicScreen: "screen and (max-width : 1200px)";
$bigScreen: "screen and (max-width : 1600px)";
