#about {
  width: 75%;
  margin: 0 auto;
  .hello {
    display: flex;
    p {
      margin-bottom: 1.4em;
      font-size: 1.25em;
      line-height: 1.2;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .image {
      width: 30%;
      margin-left: 2em;
    }
  }
  .technos {
    height: 200px;
    margin-top: 2em;
    h2 {
      color: $black;
      font-size: 1.25em;
      font-style: italic;
      font-weight: bold;
    }
    [data-fluffy-container] {
      height: 100%;
      opacity: .4;
    }
    [data-fluffy-content] {
      display: flex;
      align-items: center;
    }
    img {
      max-width: 160px;
      min-width: 150px;
      max-height: 100px;
      padding: 0 2em;
      filter: grayscale(1);
      &:first-child  {
        padding-left: 6em;
      }
      &:last-child {
        padding-right: 6em;
      }
    }
  }
  .socials {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    margin: 5em;
    transform-origin: top right;
    transform: rotate(90deg) translateX(100%);
    font-size: .813em;
    li {
      display: inline-block;
      margin-right: 1.5em;
      color: rgba($grey, .4);
      &:hover {
        color: $color-secondary;
      }
    }
    .main + span {
      opacity: 0;
      display: none;
      cursor: pointer;
    }
    .email:hover {
      color: $grey;
      .main {
        opacity: 0;
        display: none;
      }
      .main + span {
        opacity: 1;
        display: inherit;
        em:hover,
        a:hover {
          color: $color-secondary;
        }
      }
    }
    @media #{$classicScreen} {
      margin-right: 3em;
    }
    @media #{$classicPhone} {
      position: relative;
      top: inherit;
      left: inherit;
      transform: inherit;
      margin-left: 0;
    }
    @media #{$socialsHeight} {
      position: relative;
      top: inherit;
      left: inherit;
      transform: inherit;
      margin-left: 0;
    }
  }
  @media #{$classicTablet} {
    .hello {
      display: block;
      h1 span {
        display: block;
      }
      .image {
        display: none;
      }
      p {
        font-size: 1em;
      }
    }
  }
}
