#projects {
  margin-left: 25%;
  h2 {
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    padding-bottom: .2em;
  }
  .work,
  .technologies {
    display: block;
    line-height: 1.25em;
    padding: .2em;
  }
  .technologies:before {
    content: '- ';
  }
  .show-more {
    display: inline-block;
    position: relative;
    overflow: hidden;
    visibility: hidden;
    vertical-align: top;
    color: $color-secondary;
    font-size: .875em;
    margin-left: 2em;
    transition: visibility .6s $ease-in-out-circ;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -10;
      width: 100%;
      height: 100%;
      padding: 1px;
      background-color: $color-secondary;
      transform: translateX(-101%);
      transition: transform .6s ease-in-out;
    }
  }
  #oh-my-pi {
    visibility: hidden;
    .pi-title,
    .pi-svg {
      opacity: 0;
    }
    .pi-title {
      position: fixed;
      font-size: 13.75em;
      font-weight: 900;
      font-style: italic;
      text-transform: uppercase;
      text-align: center;
      white-space: nowrap;
      left: 50%;
      transform: translate(-50%, -30%);
      transition: opacity .35s $ease-in-cubic;
    }
    .pi-svg {
      position: fixed;
      width: 25%;
      max-width: 500px;
      top: 50%;
      right: 5em;
      transform: translateY(-50%);
      transition: opacity .4s $ease-in-cubic;
    }
    .pi-image {
      height: auto;
    }
    &.visible {
      visibility: visible;
      .pi-title {
        opacity: .15;
      }
      .pi-svg {
        opacity: 1;
      }
    }
  }
  #projects-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .project {
    display: block;
    margin: 2.5em;
  }
  .project:hover,
  .project:focus {
    h2 {
      font-style: italic;
      font-weight: 900;
    }
    .show-more {
      visibility: visible;
      &:after {
        z-index: 20;
        transform: translateX(101%);
      }
    }
  }
}
