<header>
  <%= current_link_to t('titles.homepage'), 'homepage' %>
  <%= current_link_to t('titles.projects'), 'projects' %>
  <%= current_link_to t('titles.about'), 'about' %>
</header>
<div id="loader">
  <div class="progress-bar">
    <svg width="419" height="110" viewBox="0 0 419 110" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path d="M56.953125 28.601563c19.125 0 29.25 9.84375 29.25 29.601562V107H56.742187V62.351562c0-9.914062-4.851562-12.796875-11.390625-12.796875-6.046875 0-14.976562 2.53125-15.117187 17.296875V107H.773437V.195312h29.460938v38.53125c6.046875-6.257812 15.1875-10.125 26.71875-10.125zM181.125 67.695313l-.28125 6.117187h-54.421875c.914063 9.5625 7.171875 14.132813 15.117187 14.132813 6.046876 0 10.265626-2.53125 12.09375-8.15625l26.789063 3.09375c-4.710937 16.523437-19.617187 25.593749-38.742187 25.593749-27.28125 0-43.804688-14.554687-43.804688-39.867187 0-25.453125 17.15625-40.148438 42.820312-40.148438 22.921876 0 40.289063 11.601563 40.429688 39.234375zm-40.289062-20.53125c-7.804688 0-12.445313 2.742187-13.921876 10.476562h26.296876c-.914063-7.101563-5.90625-10.476563-12.375-10.476563zM194.90625 107V.195312h29.460938V107H194.90625zm49.007812 0V.195312H273.375V107h-29.460938zm87.257813 1.476562c-26.296875 0-44.648437-14.554687-44.648437-40.007812 0-25.3125 18.210937-39.867188 44.648437-39.867188 26.859375 0 44.859375 14.554688 44.859375 39.867188 0 25.453125-18.140625 40.007812-44.859375 40.007812zm-.28125-20.671875c10.265625 0 16.382813-7.875 16.382813-19.335937 0-11.460938-6.117188-19.335938-16.382813-19.335938-9.703125 0-15.539063 7.875-15.539063 19.335938 0 11.460938 5.835938 19.335938 15.539063 19.335938zm72.773437 20.671875c-7.734374 0-14.273437-6.539062-14.273437-14.273437 0-7.875 6.539063-14.414063 14.273437-14.414063 7.875 0 14.414063 6.539063 14.414063 14.414063 0 7.734375-6.539063 14.273437-14.414063 14.273437z" id="loader-a"/>
      </defs>
      <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
        <mask id="loader-b" fill="#fff">
          <use xlink:href="#loader-a"/>
        </mask>
        <use stroke="#C1EDF5" stroke-width=".5" fill-opacity="0" fill="#FFF" xlink:href="#loader-a"/>
        <rect id="progress" fill="#EA4C64" mask="url(#loader-b)" x="128" y="-121" height="338"/>
      </g>
    </svg>
  </div>
</div>
<div id="border"></div>
